<footer class="footer">
  <div class="footer__container">
    <section>
      <h2 class="footer__title">Sobre</h2>
      <p class="footer__about-text">
        Salão do Getúlio fundado desde 2008 , pelo Getúlio Henrique Martins.
        Nascido e criado na cidade de Passa-Quatro, Minas-Gerais.
        Salão do Getúlio oferece cortes de cabelos masculinos tradicionais e modernos.
        Vende produtos voltado para cabelos e barbas, entre outros produtos.
        Possui uma mesa de sinuca, água, localizado no "centro" do bairro Santa Terezinha.
      </p>
    </section>
    <address>
      <h2 class="footer__title">Contato</h2>
      <ul>
        <li> <i class="fa-solid fa-phone ">  (00) 0000-0000 </i></li>
        <li> <i class="fa-brands fa-whatsapp ">  (00) 0000-0000 </i></li>
      </ul>
    </address>
  </div>
  <section class="footer__copyright">
    &copy;Todos os direitos reservados
  </section>
</footer>
